<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Path" value="C:\Users\Lenovo PC\Desktop\Kriptografija_root\ca1.der"/>
    <add key="Main" value="C:\Users\Lenovo PC\Desktop\Kriptografija_root"/>
    <add key="Serial" value="C:\Users\Lenovo PC\Desktop\Kriptografija_root\serial.txt"/>
    <add key="DB" value="C:\Users\Lenovo PC\Desktop\Kriptografija_root\db.txt.txt"/>
    <add key="FS" value="C:\Users\Lenovo PC\Desktop\Kriptografija_root\FileSystem"/>
  </appSettings>
</configuration>